<!DOCTYPE html>
<html lang="en-GB">

    <head>
        <title>About</title> <!--Browser tab title-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/dark-theme.css">

        <script src="/scripts/dark-theme.js"></script>
    </head>

    <header class="header">
        <a href="/" class="logo">SyncLearn</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <% if(user) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </header>
    
    <body>
        <h2>About</h2>

        <p>
            SyncLearn is a student project designed to make students' lives easier when it comes to group study. Students may be aware that group projects are hassle prone to constant app switching but not with SyncLearn. All the tools you need to host a virtual study group, all in one place.
        </p>
        <br>

        <h3>Features</h3>

        <br>

        <h3>Video Player</h3>
        <p>Synchronised video playback across the whole group. Simply, each member must upload and load the same video then hit play.</p>
        <br>

        <h3>Whiteboard</h3>
        <p>Collaboration on the whiteboard is easy. Draw on the whiteboard for everyone to see in real-time.</p>
        <br>

        <h3>Shared Web Page</h3>
        <p>Enter the webpage link and hit Search. All users in the room will have access to the loaded webpage.</p>
        <br>

        <h3>Shared PDF</h3>
        <p>To upload your PDF, choose your file and upload. This will also be uploaded to other members in the group.</p>
        <br>

        <h3>Video and Voice Communication</h3>
        <p>Join a group call. With other features to explore such as screen share. Set up a meeting with your group to talk face-to-face from any location and at any time.</p>
        <br>

        <h3>Chat</h3>
        <p>Use the Chat Box to send messages to your teammates.</p>
        <br>

        <h3>ChatGPT</h3>
        <p>This AI will answer any question you have. This tool may only be used in terms with your institution's integrity guidelines.</p>
        <br>

        <h3>Timer</h3>
        <p>Set a timer.</p>
        <br>

        <h3>To-Do List</h3>
        <p>Set tasks and reminders for the group to see.</p>

    </body>

</html>