<!DOCTYPE html>
<html lang="en-GB">
    
    <head>
        <title>Study Sync</title> <!--Browser tab title-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/dark-theme.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

        <script src="/scripts/dark-theme.js"></script>
    </head>

    <header class="header">
        <a href="/" class="logo">StudySync</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
        <li><a href="#">Placeholder</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        </ul>
    </header>
    
    </html>