<!DOCTYPE html>
<html lang="en-GB">

    <style>
        h1#title {text-align: center;}
    </style>

    <head>
        <title>Faiez</title> <!--Browser tab title-->
    </head>

    <header>
        <h1 id="title">Faiez Project</h1> <!--Title of website -->
    </header>
    
    <body>
        <h2>Hello there</h2>

        <p>
            This is a test paragraph
        </p>

        <p style="color:red;">
            This is another <br> test paragraph
        </p>

        <a href="https://www.youtube.com/watch?v=vM-Bja2Gy04">Link </a>
    </body>

    <footer>
        <a href="/terms-and-conditions">Terms & Conditions</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/about">About</a>

    </footer>

</html>