<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title> <!--Browser tab title-->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dark-theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/account.css">

    <script src="/scripts/dark-theme.js"></script>
  </head>

  <header class="header">
    <a href="/" class="logo">StudySync</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </header>

  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          Login Form
        </div>
        <div class="card-body">
          <form action="/auth/login" method="POST">

            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>

      <% if(message) { %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% } %>

    </div>

  </body>
</html>